.player-modal {
  position: fixed;
  bottom: 0;
  height: 15vh;
  width: 100vw;
  background: map-get($colors, 'dark-gray' );
  left: 0;
  display: none;
  justify-content: center;

  .player-track {
    color: map-get($colors, 'light' );
    display: flex;
    transition: all .2s;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    max-width: 350px;

    &:hover {
      background-color: map-get($colors, 'dark-gray');
    }

    &-image {

      img {
        width: 50px;
        border-radius: 10px;
      }
      
    }

    &-artist {
      white-space: nowrap;
      overflow: hidden;
      width: 130px;

      p {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    
    &-play-button {
      width: 50px;
      height: 50px;
      background-color: map-get($colors, 'primary' );
      background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 43px;
      font-weight: 600;
      transition: .3s all;
      cursor: pointer;

      .play-icon {
        width: 20px;
        height: 20px;
        background: white;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        transform: rotate(90deg) translateY(-3px);
      }

      .pause-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          height: 20px;
          width: 6px;
          background: white;
          margin: 0 2px;
        }
      }

      &:hover {
        background: lighten(map-get($colors, 'primary'), 20%);
      }

    }

    .waves {
      display: flex;
      align-items: center;
      div {
        width: 6px;
        margin: 0 2px;
        border-radius: 5px;
        background: map-get($colors, 'primary');
      }
    }

    .waves-animated {

      & div:nth-child(1) {
        height: 10px;
        animation: soundWave3 .7s infinite;
      }

      & div:nth-child(2) {
        height: 30px;
        animation: soundWave1 1.3s infinite;
      }

      & div:nth-child(3) {
        height: 45px;
        animation: soundWave2 .9s infinite;
      }

      & div:nth-child(4) {
        height: 30px;
        animation: soundWave3 .7s infinite;
      }

      & div:nth-child(5) {
        height: 10px;
        animation: soundWave2 .9s infinite;
      }
    }
  }
}